

@media only screen and (max-width: 1340px) {
	
	/*==========
	HEADER
	==========*/
	.header-slider-wrap{
		.slick-prev{
			left: 40px;
		}
		.slick-next{
			right: 40px;
		}
		.container-fluid{
			max-width: 980px;
		}
	}
	.header-slider{
		.slide-right{
			margin-top: 10px;
		}
	}

	.header{
		.navbar-brand {
			img{
				max-width: 200px;
			}
		}
		.navbar-nav{
			font-size: 13px;
			li{
				padding: 0 12px;
			}
		}
		.submenu.submenu-fluid{
			ul{
				width: 930px;
				margin-left: 151px !important;
			}
		}
		.submenu{
			li{
				a{
					font-size: 13px;
				}
				+li{
					margin-left: 0;
				}
			}
		}
	}




	/*==========
	INDEX_PAGE
	==========*/
	.index-slider{
		height: 450px;
		.slide-text{
			font-size: 50px;
			max-width: 480px;
			padding-left: 50px;
		}
		.slide{
			height: 450px;
		}
		.banner-nav{
			padding: 0 5px;
			li{
				height: 55px;
			}
		}
		.nav-item{ 
			padding: 20px 0 0 25px;
			position: relative;
			a{
				font-size: 14px;
				line-height: 1.2;
			}
			.img-wrap{
				min-width: 0;
				position: absolute;
				height: auto;
				bottom: 0;
				right: 10px;
				text-align: right;
				img{
					position: static;
					width: 80%;
				}
			}
		}
	}


	.index-graphs{
		margin-top: -20px;
		padding-top: 75px;
		margin-bottom: -120px;
		height: 750px;
		overflow: hidden;

		.text-wrap{
			max-width: 415px;
		}
		.graph-map{
			right: -70px;
			top: -50px;
		}
		.graph-elems{
			right: 45px;
			top: -40px;
		}
	}


	.index-objects{
		.objects-wrap{
			height: 580px;
		}
		.object {
			font-size: 12px;
			.text-wrap{
				padding: 20px 15px;
				&.with-label{
					padding-right: 95px;
				}
			}
		}
		.container{
			padding: 0 5px;
		}
		h2{
			position: relative;
			z-index: 8;
			font-size: 27.7px;
		}
		.object-head{
			font-size: 14px;
			margin-bottom: 6px;
		}
		.obj-label{
			width: 75px;
			font-size: 10px;
			padding-bottom: 5px;		
		}
		.label-ico{
			height: 50px;
			line-height: 50px;
			img{
				width: 80%;
			}
		}

		.nav-tabs{
			>li{
				&.active{
					margin-right: -10px;
					&::after{
						line-height: 35px;
					}
				}
				a{
					height: 35px;
					line-height: 35px;
					font-size: 14px;
				}
			}
		
		}
	}


	.index-articles{ 
		.article {
			font-size: 13px;
			h2{
				font-size: 36px;
			}
			.img-wrap{
				text-align: left;
				display: inline-block;
				float: left;
				min-width: 190px;
				width: 190px;
				b{
				}
				img{
					width: 80%;
				}
			}
		}
	}


	.index-news{		
		padding-bottom: 50px;
		h2{
			margin-bottom: 40px;
		}
		.index-news-wrapper{
			-webkit-box-shadow: 0 0 100px darken(rgb(245,240,234), 8%);
			box-shadow: 0 0 100px darken(rgb(245,240,234), 8%);
		}
		.container{
			padding: 0;
		}
		.news-wrap{
			padding: 35px 15px 30px;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.main-item{
			padding-left: 0;
			margin-top: -30px;
		}
		.news-item{
			&.news-main{
				padding-left: 0;
				.date{
					position: static;
					span{
						display: inline-block;
						vertical-align: top;
						font-size: 21px !important;
						line-height: 1.5 !important;
						margin-bottom: 10px;	
					}
				}
			}
			img{
				max-width: 100%;
			}
		}
		.other-news{
			padding-left: 5px;
		}
	}

	/*==========
	ICONS_MEDIA
	==========*/
	.icons {
		.ico-text{
			font-size: 10.5px;
		}
		.text-big{
			font-size: 32.5px;
			margin-bottom: 10px;
		}
		.ico{
			width: 170px;
			min-height: 230px;
			padding: 15px;			
			.img-wrap{
				height: 110px;
				b img{
					width: 80%;
				}
			}
		}
	}


	/*==========
	HONORS_DESKTOP
	==========*/
	.honors{
		.honor{
			width: 190px;
			.img-wrap{
				height: 235px;
				padding: 10px;
				img{
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
		.honor-text{
			font-size: 13px;
		}
	}




	/*==========
	CONTACTS2_DESKTOP
	==========*/
	.contacts2 {
		.panel-title>a{
			font-size: 19px;
			min-height: 43px;
			padding: 5px 15px 5px 36px;
			&[aria-expanded=true]::before{
				line-height: 43px;
				left: 15px;
			}
		}
		.panel-default>.panel-heading+.panel-collapse>.panel-body{
			padding: 15px 15px 20px 36px;
		}
	}
	.contacts-wrap{
		.working-time{
			font-size: 10px;
		}
		.contact{
			font-size: 11px;
		}
		.tel-number, .fax-number{
			font-size: 14px;
		}
		.map-toggle{
			padding: 0 5px;
			margin-left: -5px;
			line-height: 18px;
			margin-top: 10px;
		}
		.mail{
			margin-top: 10px;
		}
		.map-wrap{

			height: 630px;
		}
	}

	#map{
		width: 100%;
		min-height: 100%;
	}

	.contact-form{
		width: 320px;
		padding: 30px 35px;
		right: 30px;
	}



	/*==========
	GALLERY_DESKTOP
	==========*/
	.gallery{
		.gallery-item{
			background-size: 120%;
			background-position: center top;
			width: 145px;
			height: 200px;
			&:hover{
				.gallery-img{
					-webkit-transform: scale(1.15);-ms-transform: scale(1.15);transform: scale(1.15);
				}
				.text-box{
					height: 60px;
				}
			}
			.gallery-img{
				width: 120%;
				bottom: auto;
				top: 0;
			}
		}
		.video__overlay{
			&::before{
				top: 25%;
				bottom: auto;
			}
		}
		.text-box{
			background-color: #000;
			height: 60px;
			display: block;
			padding: 0 10px;
			font-size: 12px;
			line-height: 1.2;
			br{
				display: none;
			}
			.name{
				padding: 0;
				-ms-word-break: break-all;
				word-break: break-word;
			    word-break: break-all;
				-webkit-hyphens: auto;
			    -moz-hyphens: auto;
			    hyphens: auto;
			    display: block;
			}
		}
		.date-wrap{
			position: static;
			display: block;
			width: auto;
			line-height: 23px;
			padding: 0;
			.day{
				display: inline;
				font-size: 12px;
			}
			.month{
				display: inline;
			}
		}
		.tab-content{
			width: 595px;
		}
	}
	.gallery-modal {
		.modal-content{
			width: 740px;
		}
		
	}
	.mass-media{
		.media-content{
			width: 640px;
		}
		.media-item{
			padding-left: 100px;
			padding-right: 30px;

			
		}
		.date{
			left: 30px;
		}
		.pagination{
			padding-left: 30px;
		}
	}

	/*==========
	NEWS_DESKTOP
	==========*/
	.news-single{
		.date-wrap{
			left: 30px;
		}
		.single-top, .single-bot{
			padding: 0 200px;
		}
		.category{
			right: 30px;
			top: 65px;
		}
		.sample-header{
			padding-top: 10px;
		}
		.go-back{
			top: -10px;
			bottom: auto;
			right: 0;
			text-align: center;
		}
	} 
	.news-single-wrap{
		font-size: 13px;
		.news-head{
			font-size: 19px;
		}
		.social-share{
			font-size: 16px;
		}
	}
	.news-similar{
		.similar-top h2{
			font-size: 36px;
		}
		.similar-items{
			padding-bottom: 80px;
			
		}
		
	}


	/*==========
	PROJECT_DESKTOP
	==========*/
	.project-banner{
		.head{
			font-size: 24px;
		}
		h2{
			font-size: 45px;
		}
		.text-box{
			top: 0;
		}
	}
	.project-branches {
		.top-list {
			>li{
				width: 420px;
			}
			&.three-in-row{
				>li{
					width: 290px;
					font-size: 18px;
				}
			}
		}
		.items-wrap{
			margin-top: 95px;
		}
		.branch-item {
			padding: 0 30px 40px;
			.item-head{
				font-size: 18px;
			}
			.img-wrap{
				max-width: 170px;
				margin: 0 auto 25px;
				img{
					margin-top: -45px;
				}
			}
		}
	}
	.project-bim .container{
		background-size: 100%;
	}



	/*==========
	MAGAZINE_DESKTOP
	==========*/
	.magazine-wrap{
		.m-item{
			margin: 0 39px 55px;
		}
		.m-bot{
			font-size: 13px;
			.col-md-6:last-child{
				padding-left: 15px;
			}
		}
	}




	/*==========
	COMPANY_DESKTOP
	==========*/
	.com-tabs {
		.inner-wrap{
			padding: 0 35px 95px;
		}
		.download .download-href a{
			font-size: 14px;
		}
	}

	.com-leadership{
		.leader-blocks{
			padding: 0 40px;
		}
		.block-visible .text-wrap{
			width: 500px;
		}
	}

	/*==========
	CONTACTS-1 DESKTOP
	==========*/
	.contacts .contact-head{
		font-size: 18px;
	}


	/*==========
	CAREER DESKTOP
	==========*/
	.tabs__row {
		li:first-child, li:nth-child(2) {
			margin-bottom: 20px;
		}
 	}

 	.c-reviews__wrapper {
 		margin: 0 30px;
 	}

 	.c-reviews__slideImg {
 		width: 180px;
 	}

 	.c-reviews__bg {
 		padding-bottom: 30px;
 	}


 	.c-traditions__text {
 		font-size: 20px;
 	}

 	.c-gallery__sliderWrapper {
 		margin-left: 0;
 	}

	.c-personal__text br,
	.c-reviews__desc br,
 	.c-reviews__slideText br, 
 	.c-traditions__text br, 
 	.c-vacancies__text br,
 	.c-video__text br {
 		display: none;
 	}
}




@media only screen and (max-width: 1030px) {
	
	.index-objects {
		position: relative;
		z-index: 15;
		.slick-arrow{
			width: 30px;
			height: 30px;
			border: 3px solid @green;
			background-color: transparent;
			border-radius: 15px;
			bottom: 0px;
			margin: auto;
			position: absolute;
			&::after{
				font-size: 25px;
				font-family: FontAwesome;
				color: @green;
				line-height: 22px;
			}
		}
		.slick-prev{
			left: 0;
			right: 45px;
			&::after{
				content: "\f104";
				margin-right: 4px;
			}
		}
		.slick-next{
			right: 0;
			left: 45px;
			&::after{
				content: "\f105";
				margin-left: 2px;
			}
		}
		.objects-wrap{
			height: auto;
			padding-bottom: 60px;
		}
		.object{
			width: 255px !important;
			height: 175px !important;
			position: relative;
			top: 0 !important;
			left: 0 !important;
			margin: 0 5px;
			box-shadow: none !important;
			.img-wrap{
				height: 125px !important;
			}
		}
		.object-text{
			display: none;
		}
		.nav-tabs{
			position: relative;
			max-width: 100%;
			width: 100%;
			margin: 0 auto 10px;
			height: 0;
			overflow: hidden;
			transition:height .5s;
			bottom: 4px;
			>li{
				width: 100% !important;
				&.active{
					display: block;					
					background: @green;
					&::after{
						content: "";
					}
					a{
						color: #000;
					}
				}
				a{
					height: 100%;
					line-height: 45px;
					span{
						border-color: @green;
					}
					&:hover{
						background-color: @green;
						color: #000;
					}
				}
			}
			&.nav-height{
				height: 200px;
			}
		}
		.obj-nav-toggle{
			font-size: 18px;
			font-weight: bold;
			color: #fff;
			display: block !important;
			background-color: @green;
			height: 42px;
			cursor: pointer;
			line-height: 42px;
			padding: 0 24px;
			&::after{
				font-family: FontAwesome;
				line-height: 45px;
				content: "\f107";
				float: right;
			}
		}
	}
}
















@media only screen and (max-width: 1012px) {
	.sample-header{
		font-size: 48px;
		margin: 35px 0;
		position: relative;
		z-index: 2;
	}
	/*==========
	HEADER
	==========*/
	.header{
		.navbar-nav{
			padding: 10px 0 20px;
			overflow: hidden;			
		}
		li.submenu-wrap{
			line-height: 1;
			padding: 5px 0;
			text-align: center;
			&+li{
				margin-left: 0;
			}
		}
		li.active-page{
			background: none;
		}
		.submenu.submenu-active{
			height: auto;
			padding-top: 10px;
			margin: 0;
		}
		.submenu{
			-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);
			display: none;
			position: relative;
			margin: 0;
			left: auto;
			right: auto;
			height: auto;
			transition: all 0s ease 0s;
			padding-top: 10px;
			ul{
				white-space: normal;
				display: block;
				padding: 10px 0;
				box-shadow: none;
				li{
					display: block;
					line-height: 1.4;
					margin-bottom: 5px;
					&+li{
						margin-left: 0;
					}
					a{
						font-size: 13px;
					}
				}
				&::before{
					border-width: 0 25px 25px 25px;
					top: 0;
					display: none;
				}
			}
		}
		.submenu.submenu-fluid {
			width: 100%;
			ul{
				font-size: 13px;
			}
		}
		.navbar-header{
			margin-right: 0;
			margin-left: 0;
			position: relative;
		}
		.navbar-brand{
			img{
				width: 180px;
			}
		}
		.navbar-toggle{
			position: absolute;
			right: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
			padding: 0;
			border: none;
			&:hover, &:focus{
				background: none;
			}
			.icon-bar{
				background-color: #000;
			}
		}
	}
	.header-slider-wrap{
		img{
			width: 100%;
		}
		.container-fluid{
			padding: 0;
			max-width: 768px;
		}
		
		.slick-prev{
			left: 20px;
		}
		.slick-next{
			right: 20px;
		}
		
	}
	.header-slider{
		padding-right: 0;
		padding-left: 0;
		
	}


	/*==========
	INDEX_PAGE
	==========*/
	.index-slider{
		.slide{
			padding-top: 40px;
		}
		.slide-text{
			padding-left: 10px;
		}
		.banner-nav {
			li{
				width: 50%;
			}
		}
	}
	.index-graphs{
		padding-top: 0;
		height: auto;
		margin-bottom: -260px;
		.text-wrap{
			max-width: 100%;
		}
		.graph-map{
			position: relative;
			width: 100%;
			right: 0;
			top: 0;
			margin-top: 15px;
			max-height: 620px;
			background-position: right top;
			overflow: visible;
			background-size: 1000px;
			-webkit-box-shadow: inset 0px 10px 25px 1px #f2f2f2;
   			box-shadow: inset 0px 10px 25px 1px #f2f2f2;
		}
		.graph-elems{
			width: 544px;
			height: 360px;
			top: -10px !important;
			right: 40px;
			background-position: center top;
		}
		.graph-list{
			right: 125px;
		}
	}

	

	.index-articles {
		.row{
			.flex-wrap(wrap);
		}
		.article{
			width: 100%;
			margin-bottom: 40px;
			.justify-content(space-between);
			-ms-flex-pack: space-between;
			-ms-flex-pack: justify;
			.img-wrap{
				width: 30%;
				text-align: center;
			}
			.text-wrap{
				width: 70%;
			}
			br{
				display: none;
			}
		}
		.index-articles .article 
	}


	.index-news {
		.main-item{
			margin-bottom: 30px;
		}
	}

	/*==========
	ICONS_TABLET
	==========*/
	.icons {
		padding: 0 30px;
		margin-bottom: 25px;
		.ico{
			width: 145px;
			margin: 0 12px 15px;
		}
		.flex-wrap(wrap);
		.justify-content(center);
	}

	/*==========
	HONORS_TABLET
	==========*/
	.honors{
		.honors-wrap{
			.justify-content(space-around);
			.flex-wrap(wrap);
		}
		.honor{
			.img-wrap{
				padding: 10px;
				img{
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
		.honor-text{
			font-size: 13px;
		}
	}


	/*==========
	FOOTER_TABLET
	==========*/
	.footer-top{
		.row{
			-webkit-column-count: 3; /* Chrome, Safari, Opera */
		    -moz-column-count: 3; /* Firefox */
		    column-count: 3;
		}
	}
	.footer-col{
		width: 100%;
		margin-bottom: 0;
		padding: 0 10px;
		li{
			margin-bottom: 15px;
			&+li{
				margin-top: 0;
			}
		}
	}


	/*==========
	CONTACTS2_TABLET
	==========*/
	.contacts2 {
		.contacts-content{
			.flex-wrap(wrap);
			margin: 0 -15px;
		}
		.contacts-wrap{
			width: 100%;
			display: block;
		}
		.map-wrap{
			width: 100%;
			display: block;
			height: 600px;
		}
		.panel-title>a{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.panel-body{
			// max-width: 320px;
			margin: 0 auto;
		}
	}
	#map{
		max-width: 100%;
		width: auto;
		min-height: auto;
	}
	.contact-form{
		max-width: 320px;
		width: 100%;
		position: absolute;
		margin: auto;
	}

	/*==========
	FILTER_TABLET
	==========*/
	.filter-prime{
		float: none;
		margin: 0 auto;
	}

	/*==========
	GALLERY_TABLET
	==========*/
	.gallery-modal {
		.modal-content{
			width: 680px;
			padding: 30px 20px;
			margin-top: 50px;
		}
		.thumbs-wrap .slick-track{
			max-width: none !important;
			position: relative !important;
		}
		.prime-pic-wrap{
			.slick-next{
				right: -44px;
			}
			.slick-prev{
				left: -44px;
			}
			.slick-arrow{
				width: 40px;
				height: 40px;
				line-height: 40px;
				&:after{
					font-size: 17px;
					position: relative;
					bottom: 1px;
				}
			}
		} 
		&.modal .modal-close{
			right: -10px;
			top: -55px;
			font-size: 40px;
		}
	}
	.gallery {
		.gallery-content{
			display: block;
			float: none;
			width: 595px;
			margin: 35px auto 0;
		}
		.tab-content{
			display: block;
			width: 100%;
		}
	}
	.mass-media .media-content{
		width: auto;
		margin-top: 50px;
	}


	/*==========
	NEWS_TABLET
	==========*/
	.news-single{
		.single-top .date-wrap{
			max-width: none;			
			position: static;
			.justify-content(space-between);
			.flex-display();
			-ms-flex-pack: space-between;
			-ms-flex-pack: justify;
		}
		.date-wrap{
			.date-month{
				font-size: 11px;
				margin-bottom: 0;
			}
			.date-day{
				font-size: 34px;
				margin-top: -5px;
			}
			margin-bottom: 30px;
		}
		.category{
			position: static;
			margin-left: 35px;
		}
		.single-info{
			.flex-display();
			.justify-content(space-between);
			-ms-flex-pack: space-between;
			-ms-flex-pack: justify;
		}
		.media-name{
			margin-left: 25px;
			margin-top: 0;
		}
		.c-gallery__sliderWrapper{
			margin: 0 15px;
		}
	}
	.news-single-wrap{
		padding-top: 30px;
		font-size: 12px;
		.single-top, .single-bot{
			padding: 0 100px;
		}
		.news-head{
			font-size: 14px;
		}
	}
	.news-similar{
		.similar-top {
			height: 47px;
			.align-items(flex-end);
			a{
				display: none;
			}
			h2{
				font-size: 24px;	
			}
		}
		.item-head{
			font-size: 14.5px;	
		}
		.item-text{
			font-size: 11px;	
		}
		.similar-items{
			border: none;	
		}
		.similar-item{
			padding-left: 50px;	
			.date-wrap{
				left: 0;	
			}
		}
		.date-wrap{
			padding-top: 4px;
		}
	}

	/*==========
	PROJECT_TABLET
	==========*/
	.project-banner{
		padding-top: 65px;
		background-position: 10% center;
		text-shadow: 0 0 1px rgba(255,255,255,.7);
		.text-box{
			position: static;
			width: 100%;
			text-shadow: none;
		}
	}
	.project-branches{
		h2{
			margin-top: 0;
		}
		.top-list{
			>li{
				font-size: 14px;
				width: 40%;
			}
			&.three-in-row{
				>li{
					width: 28%;
					font-size: 12px;
					span{
						padding: 15px;
					}
				}
			}
		}
		.branch-item{
			width: 100%;
			padding-bottom: 90px;
			border-bottom: 1px solid #f2f2f2;
			&:last-child{
				padding-bottom: 35px;
			}
		}
		.items-wrap{
			margin-top: 125px;
			.flex-wrap(wrap);
		}
	}
	.project-bim{
		.bim-center{
			font-size: 60px;
		}
		.bim-wrap{
			width: 730px;
			height: 450px;
			margin-left: -15px;
			margin-right: -15px;
		}
		.bim-item{
			.img-wrap{
				margin-bottom: 10px;
			}
			p{
				width: 90%;
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
	}
	.project-about{
		padding-top: 30px;
		h2{
			margin-bottom: 20px;
		}
	}



	/*==========
	MAGAZINE_TABLET
	==========*/
	.magazine-wrap{
		.m-bot{
			font-size: 13px;
			.col-md-6:last-child{
				margin-top: 20px;
			}
		}
	}


	/*==========
	COMPANY_TABLET
	==========*/
	.com-tabs {
		.inner-wrap{
			padding-bottom: 40px;
		}
		.tabs__title{
			margin: 35px 0 15px;
			font-size: 24px;
		}
		.tabs__text{
			margin-bottom: 25px;
		}
		.tabs__row li{
			margin-bottom: 0;
			height: 43px;
			span{
				padding-top: 0;
				line-height: 43px;
			}
		}
		.download{
			margin-top: 30px;
			.flex-wrap(wrap);
			.download-href{
				display: block;
				width: 100%;
				margin-bottom: 5px;
			}
			.social{
				margin-top: 15px;
			}
		}
	}
	.com-info{
		padding-top: 0;
		&__text_2{
			margin: 80px 0 50px;
		}
	}
	.com-leadership{ 
		.leader-name{
			font-size: 14px;
		}
		.leader-position{
			font-size: 12px;
		}
		.leader-info, .block-text{
			font-size: 11px;
		}
		.block-visible .text-wrap{
			width: 350px;
		}
	}
	.com-info__block p{
		display: none;
	}
	.com-info__text{
		margin-bottom: 15px;
	}


	.com-partners {
		.partners-wrap {
			.justify-content(space-around);
			li{
				margin: 0 -20px 30px;
				text-align: center;
			}
			img{
				width: 70%;
			}
		}
	}



	/*==========
	CONTACTS-1 TABLET
	==========*/
	.contacts {
		#map{
			display: block;
		}
		.contacts-wrap .contact{
			width: 50%;
		}
		.contact-form{
			position: absolute;
		}
	}



	/*==========
	CAREER TABLET
	==========*/
	.c-vacancies__jobs {
		margin-right: -10px;
		margin-left: -10px;
	}

	.c-vacancies__job {
		width: 50%;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.c-traditions__block_left {
		margin-right: 0;
	}

	.c-traditions__blocks {

	}

	.c-traditions__block_left {
		.flex-order(1);
	}

	.c-traditions__blocksTitle {
		margin-top: 25px;
	}
}



























@media only screen and (max-width: 768px) {
	h2{
		font-size: 18px;
	}
	.sample-header{
		font-size: 24px;
		margin: 25px 0 20px;
	}
	.header-text{
		font-size: 12px;
	}
	/*==========
	HEADER
	==========*/
	.header-slider-wrap{

		.container-fluid{
			width: 100%;
			padding: 0;
		}
		.slick-arrows{
			width: 75px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 6%;
			margin: auto;
			height: 30px;
		}
		.slick-arrow{
			position: static;
			margin: 0 1px;
		}
	}
	.header-slider{
		.slick-list{
			margin-right: -10px;
		}
		img{
			min-width: 500px;
		}
	}
	.header{
		.navbar-brand{
			line-height: 70px;
		}
	}


	/*==========
	INDEX_PAGE
	==========*/
	.index-slider{
		height: 340px;
		.slide{
			height: 340px;
		}
		.slide-text{
			font-size: 28.5px;
			min-width: 120px;
			width: 40%;
		}
		.banner-nav{
			padding: 0;
			li{
				height: 40px;
			}
		}
		.nav-item{
			padding: 15px 0 0 8px;
			a{
				font-size: 10px;
			}
			.img-wrap{
				img{
					width: 50%;
				}
			}
		}
		.dot-green{
			.img-wrap{
				margin-right: 0;
			}
		}
		.dot-blue{
			.img-wrap{
				margin-right: 15px;
			}
		}
		.dot-red{
			.img-wrap{
				margin-right: 0px;
			}
		}

	}


	.index-graphs{
		margin-top: 30px;
		.graph-head{
			font-size: 16.5px;
			margin-bottom: 15px;
		}
		.graph-text{
			font-size: 10.5px;
		}
		.graph-map{
			background-size: 700px;
			background-position: right -70px top;
		}
		.graph-elems{
			width: 400px;
			right: -50px;
		}
		.graph-list{
			padding: 15px 12px;
			bottom: 260px;
			ul{
				font-size: 8.5px;
				margin-bottom: 0;
			}
		}
	}


	.index-objects {
		background: none;
		padding-bottom: 25px;
		h2{
			font-size: 18px;
			margin-top: 20px;
		}
	}


	.index-articles {
		background: none;
		padding-bottom: 0;
		.row{
		}
		.article {
			margin-bottom: 0;
			.justify-content();
			font-size: 10px;
			.img-wrap {
				min-width: 0;
				width: 90px;
				margin-right: 15px;
				b{
					width: auto;
				}
				img{
					width: auto;
					max-width: 100%;
					margin-right: 5px;
				}
			}
			h2{
				font-size: 27px;
				margin-bottom: 8px;
			}
			&+.article{
				margin-top: 25px;
			}
		}
	}



	.index-news {
		h2{
			font-size: 31px;
		}
		.news-item{
			padding-left: 50px;
			margin-bottom: 15px;
			.item-head{
				font-size: 15.6px;
			}
			.item-text{
				font-size: 10px;
				margin-top: 10px;
			}
			.date-day{
				font-size: 26.4px;
			}
			.date-month{
				font-size: 8.4px;
			}
		}
	}

	

	/*==========
	ICONS_MOBILE
	==========*/
	.index-icos{
		h2{
			br{
				display: none;
			}
		}
	}

	/*==========
	FOOTER
	==========*/
	.footer{
		padding-bottom: 80px;
		.footer-hr{
			margin-bottom: 10px;
		}
	}
	.footer-bot{
		.logo-wrap{
			display: block;
			margin: 0;
			text-align: center;
			float: none;
			margin-bottom: 15px;
			img{
				width: 95px;
			}
		}
		.copyright{
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 0;
			font-size: 10.5px;
		}
		.site-constructor{
			font-size: 12px;
		}
	}

	.footer-col{		
		font-size: 12px;
	}



	/*==========
	HONORS_MOBILE
	==========*/
	.honors{
		.honor-row{
			margin-bottom: 25px;
		}
		.honors-content{
			margin: 0 -15px;
			padding: 25px 10px 15px;
		}
		.honors-wrap{
			max-width: 580px;
			margin: 0 auto;
			.justify-content(space-between);
			-ms-flex-pack: space-between;
			-ms-flex-pack: justify;
		}
		.honor{
			width: 138px;
			.img-wrap{
				padding: 10px 0;
				height: 166px;
			}
		}
		.row-head{
			font-size: 16px;
			padding-left: 10px;
		}
		.honor-text{
			font-size: 11px;
			padding-top: 7px;
			padding-bottom: 15px;
		}
	}


	/*==========
	FILTER_&_GALLERY_MOBILE
	==========*/
	.filter-prime{
		float: none;
		margin: 0 auto;
		max-width: 290px;
		width: 100%;
		.choose-year input{
			width: 140px;
		}
	}
	.pagination {
		li{
			width: 47px;
			font-size: 12px;
			height: 42px;
			line-height: 42px;
		}
	}
	.gallery {
		.gallery-wrap{
			margin: 0 -15px;
		}
		.gallery-content{
			width: 100%;
			padding: 0;
		}
		.gallery-item{
			margin: 0 3px 5px;
		}
		.tab-content{
			display: block;
			width: 100%;
			padding: 25px 5px 35px 5px;
		}
		.nav-tabs{
			font-size: 0;
			text-align: center;
			&>li{
				float: none;
				display: inline-block;
				a{
					width: 140px;
					margin-right: 0;
				}
				&+li a{
					margin-left: 10px;
				}
			}
		}
	}
	#gallery-video-modal .modal-content{
		width: 95%;
		margin: 35px 0;
	}
	.gallery-modal {
		.modal-content{
			width: 90%;
			padding: 0;
			margin-top: 35px;
		}
		.prime-pic-wrap{
			margin-bottom: 10px;
			.slick-next{
				right: -10px;
			}
			.slick-prev{
				left: -10px;
			}
			.slick-arrow{
				width: 30px;
				height: 30px;
				line-height: 30px;
				z-index: 3;
			}
		} 
		.thumbs-wrap{
			margin: 0;
			overflow: hidden;
			.slick-list{

				margin: 0 -5px; 
			}
			.slick-slide{
				margin: 0 5px;
				width: 150px;
			}
			img{
				width: 100%;
				display: block;
			}
		}
	}


	/*==========
	MASS_MEDIA_MOBILE
	==========*/
	.mass-media{
		.media-content{
			margin: 50px -15px;
		}
		.media-item{
			padding: 35px 20px 30px 63px;
			&:first-of-type{
				padding-top: 25px;
				.date{
					top: 25px;
				}
			}
			.item-text{
				font-size: 11px;
			}
			.item-head a{
				font-size: 16px;
			}
			.category{
				position: absolute;
				bottom: 0px;
				left: 61px;
			}
			&:hover{
				background: none;
			}
		}
		.date{
			left: 10px;
		}
		.date-day{
			font-size: 31px;
		}
		.date-month{
			font-size: 11px;
		}
		.media-name{
			font-size: 10px;
		}
		.pagination{
			padding-left: 10px;
			li{
				margin-top: 43px;
			}
		}
	}
	/*==========
	NEWS_MOBILE
	==========*/
	.news-similar{
		.similar-top, .similar-items{			
			max-width: 480px;
			margin: 0 auto;
			padding-left: 12px;	
			padding-right: 12px;

		}
		.similar-items{
			min-height: 172px;		
		}
	}
	
	.news-single-wrap {
		margin-left: -15px;
		margin-right: -15px;
		.single-top, .single-bot{
			padding: 0 10px;
			max-width: 480px;
			margin: 0 auto;
		}
		.img-wrap{
			margin: 0 -10px 20px;
		}
	}
	.news-single{
		.c-gallery__sliderWrapper{
			padding-left: 0;
			margin: 0 5px;
		}
		.c-video, .c-gallery{
			padding-bottom: 25px;
		}
		.sample-header{
			padding-top: 20px;
		}
	}


	/*==========
	PROJECT_MOBILE
	==========*/
	.project-banner{
		padding-top: 20px;
		height: 270px;
		.container{
			padding-bottom: 100px;
			height: 100%;			
		}
		.head{
			font-size: 13px;
		}
		h2{
			font-size: 24px;
			margin-top: 15px;
		}
		.text-box{
			padding: 15px 35px;
			position: absolute;
			bottom: 0;
			right: 10px;
			left: 10px;
			width: auto;
			top: auto;
			p{
				font-size: 18px;
				span{
					margin: 0 0 10px;
				}
			}
			a{
				font-size: 12px;
				height: 35px;
				line-height: 35px;
			}
		}
	}
	.project-seo{
		margin-top: 0;
		h2{
			margin: 25px 0;
		}
		p{
			font-size: 12px;
		}
	}
	.project-branches{
		margin-top: 35px;
		h2{
			margin-bottom: 20px;
		}
		.top-list{
			margin: 0 auto;
			max-width: 360px;
			>li{
				font-size: 10px;
				width: 47%;
				margin: 0 0 5px;
				padding: 5px;
			}
			&.three-in-row{
				>li{
					font-size: 14px;
					width: 100%;
					max-width: 290px;
					margin-left: auto;
					margin-right: auto;
				}
			}
			.sub-list{
				margin-top: 10px;
			}
		}
		.items-wrap{
			margin: 110px -15px 0;
			background-color: #fff;
		}
		.branch-item{
			text-align: center;
			padding: 0 10px 110px;
			max-width: 480px;
			margin: 0 auto;
			border-right: none !important;
			.item-text{
				font-size: 12px;
			}
			.img-wrap{
				margin-bottom: 15px;
			}
		}
	}


	.project-bim{
		background-repeat: no-repeat;
		background-size: contain;
		.container{
			padding: 0;
		}
		.bim-wrap{
			width: auto;
			max-width: 480px;
			height: 285px;
			margin: 0 auto;
		}
		.bim-center{
			font-size: 26px;
		}
		.bim-item{
			.img-wrap{
				margin-bottom: 3px;
			}
			p{
				margin-bottom: 3px;
				font-size: 9px;
				width: 100%;
			}
		}
	}
	.project-about {
		h2{
			margin-top: 20px;
		}
		.head{
			font-size: 14px;
		}
		p{
			font-size: 12px;
		}
	}
	.p-video{
		.c-video__btn{
			width: 105px;
			height: 35px;
			font-size: 12px;
		}
		.c-video__help{
			margin-top: 30px;
			font-size: 14px;
		}
	}
	.project-similar {
		.news-similar{
			margin-bottom: 0;
			-webkit-box-shadow: 0 0 50px rgb(225,225,225);
			box-shadow: 0 0 50px rgb(225,225,225);
		}
	}


	/*==========
	MAGAZINE_MOBILE
	==========*/
	.magazine-wrap{
		margin: 0 -15px;
		padding: 25px 5px 30px;
		.m-filter{
			li{
				font-size: 10px;
				width: 43px;
				height: 37px;
				line-height: 37px;
			}
		}
		.m-item{
			max-width: 145px;
			margin: 0 5px 15px;
			.m-text{
				font-size: 12px;
			}
		}
		.m-bot{
			font-size: 13px;
			margin: 30px auto 0;
			max-width: 510px;
			.col-md-6{
				padding: 0 10px !important;
			}
			.col-md-6:last-child{
				margin-top: 20px;
			}
		}
		.items-wrap{
			margin: 0 auto;
			max-width: 480px;
			text-align: center;
		}
	}
	/*==========
	COMPANY_TABLET
	==========*/

	.com-headTitle__navList{
		position: relative;
		z-index: 10;
		font-size: 12px;
		margin: 0 -12px 15px;
		li{
			margin: 0 7px;
		}
	}
	.com-tabs {
		.inner-wrap{
			padding-left: 10px;
			padding-right: 10px;
			margin: 0 -15px;
			.row, .col-lg-12{
				margin: 0;
				padding: 0;
			}
		}
		.tabs__title{
			margin: 35px 0 15px;
			font-size: 18px;
		}
		.tabs__row {
			padding: 0 5px;
			li{
				span{
					font-size: 14px;
					padding-left: 0;
					text-align: center;
					right: 0;
					left: 0;
					margin: 0 2px;
				}
			}
		}
		.tabs__tabContent{
			left: 0;
			right: 0;
		}
		.download{
			.download-href{
				font-size: 0;
			}
			.download-href a{
				font-size: 12px;
			}
			.social__tiltle{
				font-size: 12px;
				line-height: 20px;
			}
			.social__buttons img{
				width: 20px;
			}
		}
	}
	.com-info{
		.container{
			padding: 0 10px;
		}
		h2{
			margin: 25px 0 15px;
		}
		&__title{
			font-size: 14px !important;
		}
		&__wrapper{
			width: 300px;
			height: 286px;
		}
		&__block{
			span{
				font-size: 13px;
			}
		}
	}
	.com-leadership{ 
		&__wrapp{
			margin: 0 -15px;
			padding: 0 10px 10px;
		}
		.leader-blocks{
			padding-left: 0;
			padding-right: 0;
			max-width: 560px;
			margin: 0 auto;
		}
		.block {
			.img-wrap{
				display: inline-block;
				height: 78px;
				float: left;
				margin-left: -10px;
				img{
					width: 85px;
					margin-right: 15px;
				}
			}
			.text-wrap{
				width: auto;
				display: block;
			}
		}
		.text-top{
			padding-top: 15px;
			&:after{
				content: " ";
				display: table;
				clear: both;
			}
		}
		.block-visible{
			display: block;
		}
		.block-down{
			width: 20px;
			height: 20px;
			left: 0;
			right: 0;
			margin: auto;
			&:after{
				line-height: 16px;
				font-size: 16px;
			}
			&[aria-expanded=true]:after{
				bottom: 2px;
			}
		}
		.collapse-content{
			padding-top: 0;
		}
	}


	.com-partners {
		margin-top: 0;
		overflow: hidden;
		.container{
			padding: 0 10px;
		}
		h2{
			margin: 20px 0;
		}
		.partners-wrap {
			max-width: 470px;
			margin-bottom: -20px;	
			overflow: hidden;	
			text-align: center;
			.justify-content(center);
			li{
				margin: 0 0 15px;
				width: 33%;			
			}
			span{
				display: inline-block;
				margin-left: -100px;
				margin-right: -100px;
			}
			img{
				width: 60%;
			}
		}
	}


	/*==========
	CONTACTS-1 MOBILE
	==========*/
	.contacts {
		max-width: 320px;
		margin: 0 auto;
		.map-wrap{
			height: auto !important;
			overflow: visible !important;
		}
		.contacts-wrap .contact{
			width: 100%;
			padding:  20px;
		}
		.contact-form{
			position: static;
			margin-bottom: 35px;
		}
	}
	.contacts2{
		.contact-form{
			position: static;
			margin: 20px auto 0;
		}
		.map-wrap{
			height: auto !important;
			overflow: visible !important;
		}
	}
	#map{
		position: static !important;
		height: 400px !important;
	}






	h1 {
		font-size: 24px;
	}

	/*
	*
	*	CAREER_MOBILE
	*
	*/
	section[class*="c-"],
	section[class*="com-"],
	section[class*="tabs"]{
		h2 {
			font-size: @font-medium;
		}

		p {
			font-size: 12px;
		}
	}
	
	.c-title{
		margin: 35px 0;
	}

	.c-gallery__slider .slick-slide {
		margin: 0 15px;

	}

	.video .container,
	.c-video .container {
		padding: 0;
	}

	.c-personal {
		padding-bottom: 25px;
	}

	.c-personal__text {
		margin-top: 20px;

	}

	.tabs__title {
		margin-bottom: 15px;
	}

	.tabs__tabPane span {
		display: none;
	}

	.tabs__row li {
		height: 36px;
	}

	.tabs__row li span {
		font-size: 10px;

	}

	.tabs__row li:first-child, 
	.tabs__row li:nth-child(2) {
		margin-bottom: 7px;
	}

	.tabs__row li:nth-child(1) span,
	.tabs__row li:nth-child(3) span {
		right: 5px;
	} 

	.tabs__row li:nth-child(2) span,
	.tabs__row li:nth-child(4) span {
		left: 5px;
	}

	.tabs__tabText {
		padding-top: 9px;
		line-height: 1;
	}

	.tabs__tabText_1 {
		padding-left: 33px;

	}

	.tabs__tabText_2 {
		padding-left: 29px;

	}

	.tabs__tabText_3 {
		padding-left: 32px;

	}

	.tabs__tabText_4 {
		padding-left: 32px;

	}

	.tabs__tabPane {

	}

	.tabs .tab-open {
		padding: 15px;
	}

	.tabs .tab-close {
		padding: 0 15px 0;
	}

	.tabs__tabPane {
		padding: 10px 15px;
	}

	.tabs__tabImg {
		left: 8px;
	}

	.tabs__tabImg {
		width: 25px;
		top: 9px;
		bottom: auto;
	}

	.c-reviews .container {
		padding: 0;
	}

	.c-reviews__bg {
		padding: 0 15px 0;
	}

	.c-reviews__wrapper {
		margin: 0;
	}

	.c-reviews__title {
		margin-top: 22px;
		margin-bottom: 24px;
	}

	.c-reviews__slideImg {
		width: 56px;
		height: auto;
		img{
			position: static;
		}
	}

	.c-reviews__slideTiltle {
		margin-top: 16px;
	}

	.c-reviews__block_left {
		padding-left: 68px;
		min-height: auto;
	}

	.c-reviews__slideText {
		margin-left: -68px;
	}

	.c-reviews__slideTiltle {
		font-size: 16px;
	}

	.c-reviews__bg {
		min-height: auto;
	}

	.c-reviews__partnerName {
		font-size: 12px;
	}

	.c-reviews__slider .slick-dots {
		margin-top: 67px;
		margin-bottom: 14px;
	}

	.c-reviews__slider .slick-dots li button {
	    width: 12px;
    	height: 12px;
	}

	.c-vacancies {
		margin-bottom: 33px
	}

	.c-vacancies__title {
		margin-top: 30px;
		margin-bottom: 12px;
	}

	.c-vacancies__job_left img {
		width: 51px;
	}

	.c-vacancies__job:last-child img {
		width: 71px;
	}

	.c-vacancies__text {
		margin-top: 20px;
	}

	.c-contact {
		padding-bottom: 25px;
	}

	.c-contact__title {
		margin-top: 38px;
		margin-bottom: 23px;
	}

	.c-contact .container {
		padding-left: 0;
		padding-right: 0;
	}

	.c-contact__block_left {
		margin-right: 0;
	}

	.c-contact__blocks {
		padding-left: 15px;
		padding-right: 15px;
	}

	.c-contact__phone,
	.c-contact__mail,
	.c-contact__download,
	.c-contact__send {
		font-size: 12px;
	}

	.c-contact__block {
		width: 50%;
	}

	.c-contact__send {
		width: 100%;
		height: 25px;
		padding: 0 10px 0 8px;
	}

	.social__buttons img {
		width: 25px;
	}

	.social__tiltle {
		margin-top: 3px;
		margin-right: 11px;
	}

	.hr-container {
		padding-left: 0;
		padding-right: 0;
	}

	.hr-line {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.c-traditions__title {
		margin-bottom: 24px;
	}

	.c-traditions__text {
		font-size: 12px;
		margin-bottom: 30px;
	}

	.c-traditions__block_right img {
		max-width: 100%;

	}

	.c-traditions__blocksTitle {
		margin-top: 22px;
		margin-bottom: 24px;
	}

	.c-traditions__blocksTitle {
		font-size: 12px;
	}

	.c-traditions__list li {
		margin-bottom: 5px;
		font-size: 12px;
	}

	.c-traditions {
		padding-bottom: 45px;
	}

	.c-gallery {
		text-align: center;
		padding-bottom: 29px;
	}

	.c-gallery__title {
		margin-bottom: 30px;
	}

	.c-gallery .container {
		padding: 0;
	}

	.c-gallery__sliderWrapper {
		padding-left: 15px;
		padding-right: 0;
	}

	.c-gallery__arrows {
		display: inline-block;
		margin-top: 20px;
	}

	.c-gallery__slideArrow {
		width: 33px;
		height: 33px;
		position: static;
    	float: left;
	}

	.c-gallery__slideArrow_left {
		margin-right: 10px;

	}

	.c-gallery__slideArrow i {
		font-size: 16px;
	}

	.c-video {
		padding-bottom: 19px;
	}

	.c-video__btn {
		display: none;
	}

	.c-video__mobileText {
		display: block;
		margin-top: 20px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.c-video__help {
		display: none;
	}
}



















@media only screen and (max-width: 600px) {
	.honors .honors-wrap{
		max-width: 320px;
	}
	.header-slider-wrap{
		height: 66px;
		.slick-slide{
			height: 66px;
			position: relative;
		}
		.slick-slide.slick-current{
			z-index: 3;
		}
		img{
			padding: 0;
			position: absolute;
			top: -300px;
			bottom: -300px;
			margin: auto;
			left: -750px;
			right: -800px;
			max-width: 100%;
		}

		.slick-arrows{
			left: 5%;
		}
	}
}


@media only screen and (max-width: 480px) {
	.project-bim{
		.container{
			padding: 0 10px;
		}
		.bim-wrap{
			max-width: 300px;
			height: 195px;
			margin: 0 auto;
		}
		.bim-center{
			font-size: 26px;
		}
		.bim-item{
			.img-wrap{
				margin-bottom: 3px;
			}
			p{
				margin-bottom: 3px;
				font-size: 6px;
				width: 100%;
			}
		}

	}
	.project-branches{
		.top-list{
			margin: 0 -14px;
			max-width: none;
		}
	}
	.footer-top{
		.row{
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
		    -moz-column-count: 2; /* Firefox */
		    column-count: 2;
		}
	}

	.header-slider-wrap{
		height: 50px;
		.slick-slide{
			height: 50px;
			width: auto;
			position: relative;
		}
		.slick-slide.slick-current{
			z-index: 3;
		}
		img{
			min-width: 380px;
			max-width: 480px;
			width: 120%;
		}
		.slick-arrows{
			left: 5px;
			height: 25px;
		}
		.slick-arrow{
			width: 25px;
			height: 25px;
			margin: 0;
			&:before{
				font-size: 20px;
				line-height: 13px;
			}
		}
	}
	/*==========
	ICONS_MOBILE_XS
	==========*/
	.icons-wrap{
		text-align: center;
		margin: 0 -10px;
		.flex-display
	}
	.icons{
		padding: 0;
		max-width: 302px;
		margin: 0 auto;
		text-align: left;
		.justify-content(flex-start);
		.ico{
			margin: 3px;
		}
	}




	/*COMPANY_MOBILE_XS*/
	.com-partners .partners-wrap {
			max-width: 300px;
			li{
				margin: 0 0 30px;
				width: 50%;			
			}
		}
}



@media only screen and (max-width: 1340px) {

	

}





@media only screen and (max-width: 1012px) {

	



}



@media only screen and (max-width: 768px) {


}

